@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.typewriter {
  --caret: currentcolor;
}

.typewriter::before {
  content: "";
  animation: typing 13.5s infinite;
}

.typewriter::after {
  content: "";
  border-right: 1px solid var(--caret);
  animation: blink 0.5s linear infinite;
}

@media (prefers-reduced-motion) {
  .typewriter::after {
    animation: none;
  }

  @keyframes sequencePopup {
    0%,
    100% {
      content: "Front End Developer";
    }
    75% {
      content: "React JS Developer";
    }
  }

  .typewriter::before {
    content: "developer";
    animation: sequencePopup 12s linear infinite;
  }
}

.hi {
  animation: hi 1.5s linear -0.5s infinite;
  display: inline-block;
  transform-origin: 70% 70%;
}
@keyframes hi {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.blue {
  color: blue;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
body::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.kesriya {
  color: #ff2121;
}
.hara {
  color: #138808;
}

/* hamburger menu */

.icon-1,
.icon-2,
.icon-3 {
  position: absolute;
  left: 25%;
  top: 50%;
  width: 32px;
  height: 3px;
  background-color: black;
  transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
}
.icon-1 {
  transform: translateY(-8px);
  animation-delay: 100ms;
}
.icon-3 {
  transform: translateY(8px);
  animation-delay: 250ms;
}
.hamburger-icon {
  position: absolute;
  height: 60px;
  width: 60px;
  top: 17%;
  right: 8%;
  z-index: 1000;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background: transparent;
}
.hamburger-icon:hover {
  transform: scale(1.2);
}
.icon-1.a {
  transform: rotate(40deg);
}
.icon-3.b {
  transform: rotate(-40deg);
}
.icon-2.c {
  opacity: 0;
}
.clear {
  clear: both;
}
@keyframes slideIn {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 50%;
    opacity: 1;
  }
}
.mobile-menu {
  background: #0288d1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  z-index: 10;
  opacity: 0;
  transition: all 600ms cubic-bezier(0.62, 0.04, 0.3, 1.56);
  transition-delay: 100ms;
}
.mobile-menu ul {
  margin: 0;
  position: absolute;
  top: 30%;
  left: 40%;
}
.mobile-menu ul li {
  list-style: none;
  font-size: 24px;
  color: #060000;
  line-height: 2.2;
  text-transform: uppercase;
  letter-spacing: 1.7px;
}
.mobile-menu.show {
  width: 100%;
  opacity: 1;
}
.dark-blue {
  position: absolute;
  top: 0;
  left: 0;
  background: #64b5f6;
  height: 100%;
  width: 0%;
  transition: all 500ms cubic-bezier(0.62, 0.04, 0.3, 1.8);
  transition-delay: 50ms;
  z-index: 5;
  opacity: 1;
}
.dark-blue.slide {
  width: 100%;
  opacity: 1;
}
@keyframes shotup {
  0% {
    transform: translateY(300%);
    opacity: 0;
  }
  90% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
